/* Library */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

/* Color Configuration */
:root {
    --bg: #ffffff;
    --sc: #268025;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Fullbody Config */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}